<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="">
        {{transaction.csrf_token}}
        {{transaction.date.label}}
        {{transaction.date}}
        {{transaction.vendor.label}}
        {{transaction.vendor}}
        {{transaction.location.label}}
        {{transaction.location}}
        {{transaction.subtotal.label}}
        {{transaction.subtotal}}
        {{transaction.discount.label}}
        {{transaction.discount}}
        {{transaction.tax.label}}
        {{transaction.tax}}
        {{transaction.tip.label}}
        {{transaction.tip}}
        {{transaction.total.label}}
        {{transaction.total}}
        {{transaction.payment_method.label}}
        {{transaction.payment_method}}
        {{transaction.notes.label}}
        {{transaction.notes}}

        <br>

        {{transaction.product.label}}
        {{transaction.product}}

        <br>
        {{transaction.add}}
    </form>
</body>
</html>